############
## Clarion: RES
############

*.sublime-workspace
*.sesion


############
## Clarion
############
*.app
*.ap~
*.bpp
*.bct
*.cache
**/Cla*.dll
*.dct
*.exe
*.FileList.xml
*.ini
*.MAP
obj/**
*/obj/**
*.obj
PWEE*.txt
*.rsc
*.RSC
*.images
*.txa
*.zip

############
*.BAT
*.SQL
*.txt
*.TPS
*.SCN
############
Backup
Classes
Database
##IconSets
##Images
Lib
Source
Version
Working
_database_*
_csv_to_import
_Clarion_
Test
_archive_
_build_


############
## Windows
############
# Windows image file caches
Thumbs.db
